streamlit
pandas
numpy
plotly
rapidfuzz
underthesea
vnstock3
requests
ipython

# --- MACHINE LEARNING TRUYỀN THỐNG ---
scikit-learn
xgboost
lightgbm
catboost
statsmodels

# --- TỐI ƯU HÓA MÔ HÌNH ---
optuna
scipy
